/* line 6, ../../sass/calendario/demo.scss */
.main *,
.main *:after,
.main *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 14, ../../sass/calendario/demo.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 19, ../../sass/calendario/demo.scss */
.clearfix:after {
  clear: both;
}

/* line 23, ../../sass/calendario/demo.scss */
.clearfix {
  *zoom: 1;
}

/* line 28, ../../sass/calendario/demo.scss */
.main {
  padding: 0 30px 50px 30px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
